@model ShopWebApplication.Models.Authentification.LoginModel;

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

    <section class=" mt-5 ">
        <div class="container-fluid pb-3">
            <div id="zone-info" class="row text-center">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <div class="card card-body">
                                <div class="card-title text-center">
                                    <h1 class="display-5">Login</h1>
                                    <div class="title-underline-center"></div>
                                </div>
                                <form id="form-login">
                                    <!-- Login -->
                                    <div class="col-12 col-xl-6 mx-xl-auto">
                                        <div class="input-group mt-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control form-control-lg" placeholder="Encodez votre nom d'utilisateur @(Model.GetType()) *" id="login" name="login" required>
                                        </div>
                                    </div>                                   
                                    <!-- Password -->
                                    <div class="col-12 col-xl-6 mx-xl-auto">
                                        <div class="input-group mt-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" class="form-control form-control-lg" placeholder="Encodez votre mot de passe * " id="password" name="password" required>
                                        </div>
                                    </div>
                                    <div class=" mt-5 col-12 col-md-6 col-lg-6 mx-lg-auto">
                                        <button id="btn-login" href="#" class="my-btn">Se connecter</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div> 
                </div>

            </div>
        </div>    
    </section>
